.cell {
  border: 1px solid green;
  padding: 10px;
  text-align: center;
  white-space: nowrap;
  overflow: auto;
}

.row {
  display: flex;
}

.table {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.width1 {
  min-width: 6%;
}
.width2 {
  min-width: 10%;
}
.width3 {
  min-width: 20%;
}
.width4 {
  min-width: 24%;
}
